body {
  background-image: url('./images/0063.jpg');
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 15em;
}

.facebook {
  font-size: 16px;
  color: white;
  border: white 2px solid;
  outline: none;
  text-decoration: none;
  background: none;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
  transition: 0.3s;
}

.facebook:hover {
  background: #fff;
  color: #000;
}

.card {
  width: 50%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  padding: 5px 10px 5px 10px;
  width: 300px; 
  height: 40px;
  margin: auto; 
  margin-top: 90px;
}

.top-div {
  height: 80%;
  margin: auto;
}

.bot-div {
  height: 20%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.bot-div .icon {
  padding-top: 4px;
}