.loginContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 14em;
}

.createContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.ghost {
  font-size: 16px;
  color: white;
  border: white 2px solid;
  outline: none;
  text-decoration: none;
  background: none;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  margin-left: 10px;
}

.ghost:hover {
  background: #fff;
  color: #000;
}

.card {
  width: 50%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.child {
  padding: 5px 10px 5px 10px;
}

.top-div {
  height: 80%;
  margin: auto;
}

.bot-div {
  height: 20%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.bot-div .icon {
  padding-top: 4px;
}

.icon:hover {
  color: #000000;
}

.logout {
  max-width: 6em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  opacity: 1.5;
}

.top {
  text-align: right;
  background: rgba(0,0,0, 0.5);
}

.writeCard {
  margin-top: 15em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 600px;
}

.writeContainer {
  display: flex;
}

.read {
}

.timeline {
  max-width: 900px;
}

.profileContainer {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.tag {
  display: flex;
  justify-content: space-between;
}

.tag div {
  display: flex;
  margin-right: 1em;
}

.tag div p {
  margin-left: 5px;
}

